<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.electivechaos.claimsadjuster">

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC3rml-xbs9AJaa5nitYVRpC8dZc1KoAMI" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"
                tools:replace="android:resource" />
        </provider>

        <activity
            android:name=".ui.AddEditReportActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.MainTabsActivity" >

        </activity>
        <activity android:name=".ui.ImagePickerActivity" />
        <activity
            android:name=".ui.SingleImageDetailsActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:launchMode="singleInstance"
            android:name=".ui.QuickImageDetailsActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.AddEditCategoryActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.ImageSliderActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.AddEditPerilActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ui.PdfViewerActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ui.SplashScreenActivity"></activity>
        <activity android:name=".ui.CustomisationActivity" />
        <activity android:name=".ui.RoofSystemActivity" />
        <activity android:name=".ui.SidingActivity" />
        <activity android:name=".ui.FoundationActivity" />
        <activity android:name=".ui.BuildingTypeActivity" />
        <activity android:name=".ui.CategoryDetailsActivity" />
        <activity android:name=".ui.PerilDetailsActivity" />
        <activity android:name=".ui.CoverageDetailsActivity" />
        <activity android:name=".ui.AddEditCoverageActivity" />
        <activity android:name=".ui.SettingsActivity" />
        <activity android:name=".ui.RegistrationActivity" />
        <activity android:name=".ui.TermsOfServicesActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".CameraActivity"></activity>
    </application>

</manifest>